.pc {
    display: block!important;
    @media screen and (max-width: 481px){
        display: none!important;
    }
}
.sp {
    display: none!important;
    @media screen and (max-width: 481px){
        display: block!important;
    }
}
.none {
    display: none!important;
}

section {
    margin: 30px 0;
}

#header {
    background-color: burlywood;
    position: fixed;
    width: 100%;
    ul {
        display: flex;
        justify-content: space-around;
        list-style: none;
        
    }
    .hamberger {
        .hamberger-box {
            width: 50px;
            height: 50px;
            margin-left: auto;
            position: relative;
            &.active {
                span {
                    &:nth-child(1){
                        transform: translate(-50%,600%) rotate(45deg);
                        transition-duration: 1s;
                    }
                    &:nth-child(2){
                        display: none;
                    }
                    &:nth-child(3){
                        transform: translate(-50%,-390%) rotate(-45deg);
                        transition-duration: 1s;
                    }
                }
            }
            span {
                width: 30px;
                height: 2px;
                background-color: #000;
                display: block;
                position: absolute;
                &:nth-child(1){
                    top: 14px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &:nth-child(2){
                    top: 24px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &:nth-child(3){
                    top: 34px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
    .sp-nav {
        li {
            &:nth-child(odd){
                background-color: lightgoldenrodyellow;
            }
            &:nth-child(even){
                background-color: burlywood;
            }
            a {
                display: block;
                padding: 0.5rem 1rem;
            }
        }
    }
}

#el03 {
    input {
        border: 1px solid #000;
    }
}
.el04__dl {
    display: flex;
    justify-content: space-between;
    dl {
            border-top: 1px solid gray;
            border-left: 1px solid gray;
            width: calc(100%/6);
        dt {
            border-bottom: 1px solid gray;
            border-right: 1px solid gray;
            height: 70px;
        }
        dd {
            border-bottom: 1px solid gray;
            border-right: 1px solid gray;
            margin-inline-start: 0px;
        }
    }
}

.el05__div {
    dl {
        display: flex;
        border-bottom: 1px solid aquamarine;
        dt {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        dd {
            width: 75%;
        }
        .dd-div {
            display: flex;
            div {
                width: calc(100% / 3);
                border-left: 1px solid aquamarine;
            }
        }
    }
}