.el04__dl {
    display: flex;
    justify-content: space-between;
    dl {
            border-top: 1px solid gray;
            border-left: 1px solid gray;
            width: calc(100%/6);
        dt {
            border-bottom: 1px solid gray;
            border-right: 1px solid gray;
            height: 70px;
        }
        dd {
            border-bottom: 1px solid gray;
            border-right: 1px solid gray;
            margin-inline-start: 0px;
        }
    }
}

.el05__div {
    dl {
        display: flex;
        border-bottom: 1px solid aquamarine;
        dt {
            width: 25%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        dd {
            width: 75%;
        }
        .dd-div {
            display: flex;
            div {
                width: calc(100% / 3);
                border-left: 1px solid aquamarine;
            }
        }
    }
}