<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/destyle.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

    <main id="app">
        <ul>
            <!-- ulの中身をVueで表示&シャッフル -->
            <li v-for="img in imgs">
                <figure><img :src="`./img/img${img}.jpg`" alt=""></figure>
            </li>
        </ul>

        <ol>
            <!-- olの中身はシャッフルしてない。Vueで表示のみ -->
            <li v-for="index in 8">
                <figure><img :src="`./img/img0${index}.jpg`" alt=""></figure>
            </li>
        </ol>
    </main>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        const { createApp } = Vue

        createApp({
            data() {
                return {
                    imgs : ["01","02","03","04","05","06","07","08"]
                }
            },
            mounted(){
                window.addEventListener('load',()=>{
                    this.shuffleFunction()
                })
            },
            methods:{
                shuffleFunction(){
                    let nodelis = document.querySelectorAll('ul li')
                    let lis = Array.from(nodelis)
                    let ul = document.querySelector('ul')
                    lis.sort(() => Math.random() - 0.5)
                    lis.forEach((e) => {
                        ul.append(e)
                    })
                    // lis.forEach(e=>ul.append(e)) 上3行は、この一行にまとめることができる！
                }
            }
        }).mount('#app')
    </script>
    
</body>
</html>