<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue study</title>
    <link rel="stylesheet" href="./css/destyle.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body id="app">

    <header id="header" ref="header">
        <ul class="pc">
            <li v-for="nav in navs">
                <a :href="nav.link">{{ nav.title }}</a>
            </li>
        </ul>
        <div class="hamberger sp" ref="hambbtn">
            <div class="hamberger-box">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <ul class="sp none sp-nav">
            <li v-for="nav in navs">
                <a :href="nav.link">{{nav.title}}</a>
            </li>
        </ul>
    </header>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        const { createApp } = Vue
        createApp({
            data(){
                return {
                    navs : [
                        {
                            title: "el01",
                            link: "#el01"
                        },
                        {
                            title: "el02",
                            link: "#el02"
                        },
                        {
                            title: "el03",
                            link: "#el03"
                        },
                        {
                            title: "el04",
                            link: "#el04"
                        },
                        {
                            title: "el05",
                            link: "#el05"
                        }
                    ]
                }
            },
            mounted(){
                window.onload = () => {
                    this.clickOff()
                    this.closeFunction()
                    this.atagFunction()
                }
            },
            created(){
                this.newFunction()
            },
            methods:{
                closeFunction(){
                    let hamb = document.querySelector(".hamberger-box");
                    let spnav = document.querySelector(".sp-nav")

                    hamb.addEventListener('click',() => {

                        hamb.classList.toggle('active')

                        if(hamb.classList.contains('active')){
                            spnav.classList.remove('none')
                        } else {
                            spnav.classList.add('none')
                        }
                    })
                },
                clickOff(){
                    let li = document.querySelectorAll(".sp-nav li")
                    let spnav = document.querySelector(".sp-nav")

                    li.forEach(function(e,i){
                        e.addEventListener('click',function(){
                            let hamb = document.querySelector(".hamberger-box");
                            hamb.classList.remove('active')
                            spnav.classList.add('none')
                        })
                    })
                },
                newFunction(){
                    console.log(this.$refs.header)
                },
                atagFunction(){
                    let atags = document.querySelectorAll('#header ul li a[href^="#"]');
                    let head = (window.matchMedia('(max-width: 481px)').matches) ? document.querySelector('.hamberger') : document.querySelector('#header');
                    atags.forEach(function(e,i){
                        e.addEventListener('click',function(event){
                            event.preventDefault();
                            let targetId = e.hash;
                            let targetElement = document.querySelector(targetId);
                            let targetOffsetTop = window.pageYOffset + targetElement.getBoundingClientRect().top;
                            
                            console.log(head)
                            let headerHeight = head.offsetHeight;
                            let totalScrollAmount = targetOffsetTop - headerHeight;
                            console.log(headerHeight)

                            window.scrollTo({
                                top: totalScrollAmount,
                                behavior: 'smooth'
                            })
                        })
                    })
                }
            }
        }).mount("#app")
    </script>

    <hr>

    <main>
        <section id="el01">
            <dl v-for="(place, index) in places">
                <dt>{{titleFunction(place)}}{{index + 1}}: {{ place.station }}</dt>
                <dd>
                    <li>{{ place.prefecture }}</li>
                    <li>{{ place.area }}</li>
                </dd>
            </dl>


        </section>

    

        <script>
            createApp({
                data(){
                    return {
                        // title: "",
                        places : [
                            {
                                station: "urawa",
                                prefecture: "saitama",
                                area: "kanto"
                            },
                            {
                                station: "umeda",
                                prefecture: "osaka",
                                area: "kansai"
                            },
                            {
                                station: "tokyo",
                                prefecture: "tokyo",
                                area: "kanto"
                            }
                        ],
                    }
                },
                mounted(){

                    // window.onload =() =>{
                    //     this.headerFunction()
                    // }
                    window.addEventListener('load',this.headerFunction)
                    window.addEventListener('resize',this.headerFunction)

                },
                created(){
                },
                methods: {
                    titleFunction(x){
                        return Object.keys(x)[0]
                    },
                    headerFunction(){
                        let headerH = document.getElementById('header').clientHeight
                        let el01 = document.getElementById('el01')
                        el01.style.paddingTop = headerH + 'px'
                    }
                }
            }).mount("#el01")
        </script>

        <hr>

        <section id="el02">
            {{worlds[0]}}
            <!-- 表示の仕方がわからないとき、上の行みたいに表の外でデバックみたいなことをしたらわかりやすい！ -->
            <table>
                <tr>
                    <th scope="row" v-for="(element, index) in worlds[0]">{{index}}</th>
                </tr>
                <tr v-for="world in worlds">
                    <td v-for="value in world">{{value}}</td>
                </tr>
            </table>
        </section>

        <script>
            createApp({
                data(){
                    return{
                        title: "",
                        worlds: [
                            {
                                country: "japan",
                                principal: "tokyo",
                                area: "asia",
                                jp: "日本"
                            },
                            {
                                country: "germany",
                                principal: "berlin",
                                area: "europe",
                                jp: "ドイツ"
                            },
                            {
                                country: "america",
                                principal: "d.c.",
                                area: "america",
                                jp: "アメリカ"
                            },
                        ]
                    }
                },
                methods: {
                    getKeysFunction(x){
                        return Object.keys(x)
                    },
                    getValueFunction(y){
                        return Object.values(y)
                    }
                }
            }).mount("#el02")
        </script>

        <hr>

        <section id="el03">

            <input type="text" v-model="prefecture">
            <input type="submit" value="submit" @click="submitFunction">
        </section>

        <script>

            createApp({
                data(){
                    return {
                        prefecture : ""
                    }
                },
                methods: {
                    submitFunction(){
                        console.log(this.prefecture)
                    }
                }
            }).mount("#el03")
        </script>

        <hr>

        <section id="el04">
            <h2>下処理</h2>


            <div v-for="menu in menus" class="el04__dl">
                <dl v-for="(value,key) in menu">
                    <!-- {{menu}} -->
                    <dt>{{key}}</dt>
                    <dd v-for="price in value">{{price}}</dd>
                </dl>
            </div>

            
        </section>

        <script>
            createApp({
                data(){
                    return {
                        menus : [
                            {
                                "魚" : [
                                    "1kg以下/1枚",
                                    "3kg以下/1枚",
                                    "5kg以下/1枚",
                                    "5kgオーバー"
                                ],
                                "水洗い" : [
                                    "500円",
                                    "600円",
                                    "800円",
                                    "1000円"
                                ],
                                "3枚おろし" : [
                                    "800円",
                                    "1000円",
                                    "1000円",
                                    "1500円"
                                ],
                                "アラ処理(兜割り)": [
                                    "＋280円",
                                    "＋380円",
                                    "＋500円",
                                    "＋600円"
                                ],
                                "切り身・開き加工": [
                                    "＋380円",
                                    "＋680円",
                                    "＋900円",
                                    "＋1500円"
                                ],
                                "真空パックプロトン冷凍" : [
                                    "＋500円",
                                    "＋700円",
                                    "＋900円",
                                    "＋1200円"
                                ]
                            }
                        ]
                    }
                }
            }).mount("#el04")
        </script>


        <hr>

        <section id="el05">

            <div v-for="option in options" class="el05__div">
                <dl v-for="(value, key) in option">
                    <dt>{{key}}</dt>
                    <dd>
                        <div v-for="details in value">
                            <div v-for="detail in details" class="dd-div">
                                <div v-for="element in detail">
                                    <p v-if="element">{{element}}</p>
                                </div>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
        </section>

        <script>
            createApp({
                data(){
                    return {
                        options : [
                            {
                                "白イカ・スルメイカ" : [
                                    {
                                        1 : [
                                        "皮むき・ゲソそうじ",
                                        "1杯",
                                        "480円"
                                        ]
                                    },
                                    {
                                        2 : [
                                            "刺身",
                                            "1杯",
                                            "680円"
                                        ]
                                    }
                                ],
                                "甲イカ・アオリイカ" : [
                                    {
                                        1 : [
                                        "皮むき・ゲソそうじ",
                                        "1杯",
                                        "680円"
                                        ]
                                    },
                                    {
                                        2 : [
                                            "刺身",
                                            "1杯",
                                            "680円"
                                        ]
                                    },
                                    {
                                        3 : [
                                            "墨抜き・個別イカ袋包装",
                                            "1杯",
                                            "380円"
                                        ]
                                    },
                                    {
                                        4 : [
                                            "墨抜き・スキンパック・リキッド急速冷凍※1",
                                            "",
                                            ""
                                        ]
                                    }
                                ],
                                "ふぐ" : [
                                    {
                                        1 : [
                                            "身欠き・真空パック",
                                            "",
                                            "1000円/kg"
                                        ],
                                        2 : [
                                            "身欠き・真空パック・プロトン冷凍",
                                            "",
                                            "1500円/kg"
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                }
            }).mount("#el05")
        </script>


</main>

    

</body>
</html>