<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue study</title>
</head>
<body>

    <header id="header" >
        <ul>
            <li v-for="nav in navs">
                <a :href="nav.link">{{ nav.title }}</a>
            </li>
        </ul>
    </header>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script>
        const { createApp } = Vue
        createApp({
            data(){
                return {
                    navs : [
                        {
                            title: "el01",
                            link: "#el01"
                        },
                        {
                            title: "el02",
                            link: "#el02"
                        },
                        {
                            title: "el03",
                            link: "#el03"
                        }
                    ]
                }
            }
        }).mount("#header")
    </script>

    <main>
        <section id="el01">
            <dl v-for="(place, index) in places">
                <dt>{{titleFunction(place)}}{{index + 1}}: {{ place.station }}</dt>
                <dd>
                    <li>{{ place.prefecture }}</li>
                    <li>{{ place.area }}</li>
                </dd>
            </dl>
        </section>
    

        <script>
            createApp({
                data(){
                    return {
                        // title: "",
                        places : [
                            {
                                station: "urawa",
                                prefecture: "saitama",
                                area: "kanto"
                            },
                            {
                                station: "umeda",
                                prefecture: "osaka",
                                area: "kansai"
                            },
                            {
                                station: "tokyo",
                                prefecture: "tokyo",
                                area: "kanto"
                            }
                        ]
                    }
                },
                methods: {
                    titleFunction(x){
                        return Object.keys(x)[0]
                    }
                }
            }).mount("#el01")
        </script>



    <section id="el02">
        <!-- まだ途中！ -->
        <table>
            <tr>
                <th scope="row" v-for="(world,index) in worlds">{{getKeysFunction(world)[index]}}</th>
            </tr>
            <tr>
                <td v-for="(world,index) in worlds">{{getValueFunction(world)[0]}}</td>
            </tr>
        </table>
    </section>

    <script>
        createApp({
            data(){
                return{
                    title: "",
                    worlds: [
                        {
                            country: "japan",
                            principal: "tokyo",
                            area: "asia",
                            jp: "日本"
                        },
                        {
                            country: "germany",
                            principal: "berlin",
                            area: "europe",
                            jp: "ドイツ"
                        },
                        {
                            country: "america",
                            principal: "d.c.",
                            area: "america",
                            jp: "アメリカ"
                        },
                    ]
                }
            },
            methods: {
                getKeysFunction(x){
                    return Object.keys(x)
                },
                getValueFunction(y){
                    return Object.values(y)
                }
            }
        }).mount("#el02")
    </script>


</main>

    

</body>
</html>