main {
    max-width: 432px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    figure {
        width: 100%;
        margin-bottom: 1rem;
        img {
            width: 100%;
        }
    }
}

$color: gray;
$color02 : rgba(53,53,53,0.2);

// loading icon code from here

.loading {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 10000;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;
    figure {
        width: 130px;
        display: block;
        margin-bottom: 1rem;
        img {
            width: 100%;
        }
    }
    .dot-flashing {
        position: relative;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: $color;
        color: $color;
        animation: dot-flashing 1s infinite linear alternate;
        animation-delay: 0.5s;
        left: 50%;
        transform: translateX(-50%);
        &::before, &::after {
            content: "";
            display: inline-block;
            position: absolute;
            top: 0;
        }
        &::before {
            left: -15px;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background-color: $color;
            color: $color;
            animation: dot-flashing 1s infinite alternate;
            animation-delay: 0s;    
        }
        &::after {
            left: 15px;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background-color: $color;
            color: $color;
            animation: dot-flashing 1s infinite alternate;
            animation-delay: 1s;    
        }
        @keyframes dot-flashing {
            0% {
                background-color: $color;
            }
            50%, 100% {
                background-color: $color02;
            }
        }    
    }    
}


.finishLoading {
    opacity: 0;
    visibility: hidden;
}